html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

header nav a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

header nav a:hover {
  color: #ddd;
}

.start {
  font-family: 'Times New Roman';
}

.text {
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
}

main h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

main p {
  line-height: 1.5;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.product-item {
  width: calc(33.333% - 20px);
  margin: 10px;
  text-align: center;
}

.product-item img {
  max-width: 100%;
  height: auto;
}

.product-item h2 {
  font-size: 24px;
  margin-top: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  margin-top: auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.social-icons {
  margin-top: 20px;
}

.social-icons img {
  width: 32px;
  height: 32px;
}

/* рег и личный кабинет */

form {
  width: 400px;
  margin: auto;
  margin-top: 100px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button[type="submit"],
button[type="update_password"],
.password-button,
.edit-button {
  display: block;
  margin: auto;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

button[type="submit"]:hover,
.password-button:hover,
.edit-button:hover {
  transform: translateY(-3px);
}

button[type="submit"]:active,
.password-button:active,
.edit-button:active {
  transform: translateY(3px);
}
.container.form-container {
  margin-top: 40px;
}

/* каталог и карточки */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tovar {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ccc;
}

.tovar:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-color: #f44336;
}

.tovar a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.tovar a:hover {
  color: #f44336;
}

.tovar p {
  font-size: 14px;
  color: #666;
}

.tovar .price {
  font-size: 20px;
  font-weight: bold;
  color: #f44336;
  margin-top: 10px;
}

.tovar img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Адаптивность для шапки сайта */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  .logo {
    font-size: 18px;
  }

  header nav a {
    margin-right: 5px;
  }

  main {
    padding: 10px;
  }

  main h1 {
    font-size: 24px;
  }

  .product-item {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 5px;
  }

  .logo {
    font-size: 16px;
  }

  header nav a {
    margin-right: 2px;
  }

  main {
    padding: 5px;
  }

  main h1 {
    font-size: 20px;
  }

  .product-item {
    width: 100%;
  }
}